parameters:
    server:
        type: https # http or https
        port: 8008
        key:  path/to/key.key
        cert: path/to/cert.crt
        ca:   path/to/ca.crt
    mysql:
        host    : localhost
        database: nekuno
        user    : nekuno
        password: nekuno
    brain:
        base_url: http://brain.local.nekuno.com/
    api_secret: cliweodwfqpokfrfkcporfkpoqefrefqefbgw
    oauthshim:
        twitter:
            client_id: ~
            client_secret: ~
            grant_url: 'https://api.twitter.com/oauth/access_token'
        facebook:
            client_id: ~
            client_secret: ~
            grant_url: 'https://graph.facebook.com/oauth/access_token'
        google:
            client_id: ~
            client_secret: ~
            grant_url: 'https://accounts.google.com/o/oauth2/token'
        spotify:
            client_id: ~
            client_secret: ~
            grant_url: 'https://accounts.spotify.com/api/token'
        tumblr:
            client_id: boLPNHs4oCPLtisiAWFUijDIq6nJz0sl8DH0I6Scx7lxuofWxU
            client_secret: 9JeA1Jr7SU3xbyr11Q9YNVLITAD5but4RGpqewF2vS9AmzuIsg
            grant_url: 'https://www.tumblr.com/oauth/access_token'
        linkedin:
            client_id: ~
            client_secret: ~
            grant_url: 'https://www.linkedin.com/uas/oauth2/accessToken'
