parameters:
    server:
        type: https # http or https
        port: 8008
        key:  path/to/key.key
        cert: path/to/cert.crt
        ca:   path/to/ca.crt
    mysql:
        host    : localhost
        database: nekuno
        user    : root
        password: ''
    brain:
        base_url: http://brain.local.nekuno.com/index_dev.php/
